<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockchain app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Blockchain app</h1>
      <div class="button-container">
        <a href="{{ url_for('registerMachine') }}"
          ><button class="btn register-button">Register a machine</button></a
        >
        <a href="{{ url_for('deployPatientData') }}"
          ><button class="btn patient-button">Register a patient</button></a
        >
        <a href="{{ url_for('issuePrescription') }}">
          <button class="btn prescription-button">Issue a prescription</button>
        </a>
        <a href="{{ url_for('manageData') }}">
          <button class="btn manage-button">Manage machine data</button>
        </a>
        <a href="{{ url_for('medicalActivity') }}">
          <button class="btn activity-button">view transactions</button>
        </a>
        <a href="{{ url_for('fakeLogin') }}">
          <button class="btn ownNFT-button">Check Your NFTs</button>
        </a>
      </div>
      <h1 class="contract-text"></h1>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
