<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockchain app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&amp;family=Press+Start+2P&amp;display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>

    <div class="app-title">
      <h1>Secure Data Storage System
        <span style = "display: block; padding:2%">On Ethereum</span>
      </h1>
    </div>
    
    <div class="container">
      
      <div class="button-container">
        <a href="{{ url_for('registerMachine') }}"
          ><button class="btn register-button">Register a machine (For Manufacturer)</button></a
        >
        <a href="{{ url_for('deployPatientData') }}"
          ><button class="btn patient-button">Patient registration</button></a
        >
        <a href="{{ url_for('medicalActivity') }}">
          <button class="btn activity-button">Explore The Blockchain</button>
        </a>
      </div>

      <div class="button-container">
        <a href="{{ url_for('issuePrescription') }}">
          <button class="btn prescription-button">Issue Prescriptions</button>
        </a>
        <a href="{{ url_for('manageData') }}">
          <button class="btn manage-button">Store machine data</button>
        </a>
        <a href="{{ url_for('fakeLogin') }}">
          <button class="btn ownNFT-button">Check Your NFTs</button>
        </a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>


    <footer style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">©COPYRIGHT 2022 Ethereum Project</footer>
  </body>
</html>
