<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/own.css') }}"/>
    <title>Own NFTs</title>
  </head>

  <body>

    <div class="profile">
        <img class="avatar" src="../static/img/{{avatar}}" width="220" height="220">

        <div class="address-icon">
            <img src="../static/img/ETH.png" width="15" height="15">
            <h3 class="user-eth-address">{{user}}</h3>
        </div>
       
    </div>

    <div class="topnav">
        <a class="collected"href="{{url_for("ownNFTs")}}">
            <h3>Collected {{nob}}</h3>
        </a>
        <a id="focus"class="activity" href="activity"><h3>Activity</h3></a>
    </div>

    <hr>
    
  </body>
</html>