<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/own.css') }}"/>
    <title>Own NFTs</title>
  </head>

  <body>

    <div class="profile">
        <img class="avatar" src="../static/img/{{avatar}}" width="220" height="220">

        <div class="address-icon">
            <img src="../static/img/ETH.png" width="15" height="15">
            <h3 class="user-eth-address">{{user}}</h3>
        </div>
       
    </div>

    <div class="topnav">
        <a id="focus" class="collected"href="{{url_for("ownNFTs")}}">
            <h3>Collected {{nob}}</h3>
        </a>
        <a class="activity" href="{{url_for("ownNFTs", 
        tokenNum=nob)}}"><h3>Activity</h3></a>
    </div>

    <hr>

    {% if machine %}
        <div class="machine-session">
            <h3 class="machine-title">Machine</h3>

            <div class="item">
                {% for m in machine[::-1] %}
                    <div class="nft-container">
                        <a href="{{url_for("ownNFTs",
                         type="machine",
                         ca=m.ca,
                         tid=m.tid,
                         icon=m.file_ipfs, 
                         c_owner=m.c_owner, 
                         owner=m.owner)}}">
                            <img src="{{m.file_ipfs}}" width="150" height="150">
                        </a>
                        <h5 class="nft_name">{{m.ca[:6]}} T{{m.tid}}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if patient %}
        <div class="patient-session">
            <h3 class="patient-title">Patient</h3>

            <div class="item">
                {% for p in patient[::-1] %}
                    <div class="nft-container">
                        <a href="{{url_for("ownNFTs", 
                        type="patient",
                        ca=p.pca, 
                        tid=p.patientAddress, 
                        icon=p.icon, 
                        dca=p.dca,
                        preca=p.preca)}}">
                            <img src="{{p.icon}}" width="150" height="150">
                        </a>
                        <h5 class="nft_name">{{p.pca[:6]}} PAT.{{p.patientAddress[:6]}}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if prescription %}
        <div class="prescrption-session">
            <h3 class="prescription-title">Prescription</h3>

            <div class="item">
                {% for pre in prescription[::-1] %}
                    <div class="nft-container">
                        <a href="{{url_for("ownNFTs",
                        type="prescription", 
                        ca=pre.preca, 
                        tid=pre.precaId,
                        md_url=pre.file_ipfs, 
                        c_owner=pre.owner, 
                        icon=pre.icon)}}">
                            <img src="{{pre.icon}}" width="150" height="150">
                        </a>
                        <h5 class="nft_name">{{pre.preca[:6]}} ID.{{pre.precaId}}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if data %}
        <div class="data-session">
            <h3 class="data-title">Machine Data</h3>

            <div class="item">
                {% for d in data[::-1] %}
                    <div class="nft-container">
                        <a href="{{url_for("ownNFTs",
                        type="data",
                        ca=d.dca, 
                        tid=d.dataId, 
                        md_url=d.file_ipfs,
                        c_owner=d.owner,
                        icon=d.icon)}}">
                            <img src="{{d.icon}}" width="150" height="150">
                        </a>
                        <h5 class="nft_name">{{d.dca[:6]}} ID.{{d.dataId}}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    
  </body>
</html>