<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/ipfs/dist/index.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="register-div">
      <h1 class="title">Register a machine</h1>
      <p class="title">For machine manufacturer only</p>
      <div class="input-file-container">
        <input
          type="file"
          accept="image/*"
          name="file"
          id="file"
          class="input-file"
        />
        <label for="file">Choose a file</label>
      </div>
      <div class="image-container">
        <img src="" alt="" class="image" />
      </div>
      <button class="btn register-button">register machine</button>
    </div>
    <div class="transfer-div">
      <h3 class="title">Transfer machine ownership to doctor</h3>

      <div class="inputs-container">
        <input
          type="text"
          name="name"
          id="doctor-address"
          class="input-text2"
          placeholder="Doctor address"
        />
      </div>
      <button class="btn transfer-button">transfer</button>
    </div>
    <h1 class="contract-text"></h1>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
  </body>
</html>
