<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/txn_details.css') }}"
        />
    </head>
<body>

    <div class="page-title">
        <h3 class="title">Transaction Details</h3>
        <hr style="width:100%;" />
    </div>


    <div class="details">

        <div class="container">

            <div class="details-overview">
                <div class="display-row">
                    <h3>Transaction Hash: </h3>
                    <h3 id="info">{{details.txn_hash}}</h3>
                </div>

                <div class="display-row">
                    <h3>Block: </h3>
                    <h3 id="info">{{details.blkNum}}</h3>
                </div>

                <div class="display-row">
                    <h3>Timestamp: </h3>
                    <h3 id="info">{{details.age_short}} ago ({{details.age_long}} +UTC)</h3>     
                </div>
                
                <hr style="width:100%; margin:auto;" />
            </div>

            <div class="transaction-action">

                <div class="display-row">
                    <h3>Transaction Action: </h3>
                    <h3 id="info">{{details.eventLog[9:-1]}}</h3>
                </div>

                <div class="display-row">
                    <h3 style="color:transparent;">Transaction Action: </h3>
                    <h3 id="info">From: {{details.e_from}}</h3>
                </div>

                <div class="display-row">
                    <h3 style="color:transparent;">Transaction Action: </h3>
                    <h3 id="info">To: {{details.e_to}}</h3>
                </div>

                <hr style="width:100%; margin:auto;" />

            </div>

            
            <div class="contract-info">

                <div class="display-row">
                    <h3>From: </h3>
                    <h3 id="info">{{details._from}}</h3>
                </div>

                <div class="display-row">
                    <h3>Interacted with (To): </h3>
                    <h3 id="info">Contract {{details._to}}</h3>
                </div>
                
                <hr style="width:100%; margin:auto;" />
            </div>

            <div class="gas-price">
                <div class="display-row">
                    <h3>Gas Price: </h3>
                    <h3 id="info">{{"{:.8f}".format(details.gasPrice)}} Ether</h3>
                </div>
                <hr style="width:100%; margin:auto;" />
            </div>

        </div>
    </div>
   
</body>
</html>