<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/browse.css') }}"
        />
    </head>

    <body>
        <h3 class="browse_title">Browse NFTs</h3>

        <div class="items">
            {% if not allNFTs or allNFTs == [] %}
                <p>There is no any NFT on the market</p>
            {% else %}
                {% for nft in allNFTs %}
                <div class="nft_container">
                    <div class="card">
                        <img src="{{nft.img_ipfs}}">
                    </div>
                    <h5 class="nft_name">{{nft.name[0]}}</h5>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    
    </body>
</html>