<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/browse.css') }}"
        />
    </head>

    <body>
        <h3 class="browse_title">Browse all NFT collections</h3>

        <div class="all_Collections">
            <div class="items">
                {% if not collections or collections == [] %}
                    <p>There is no any NFT on the market</p>
                {% else %}
                    {% for c in collections %}
                    <form action="{{ url_for("browsingPage")}}" method="GET">
                        <div class="nft_container">
                            <div class="card">
                                <input type = "hidden" name = "ca" value="{{c}}"/>
                                <input type = "hidden" name = "collections" value="{{collections[c][1]}}"/>
                                <input type="image" src="{{collections[c][0]}}"/>
                            </div>
                            <h5 class="nft_name">{{collections[c][1]}}</h5>
                        </div>
                    </form>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="all_NFTs">
            <h3 class="browse_title2">Browse all NFTs</h3>
        </div>

        
    </body>
</html>