<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Data</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/showData.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="images-container">
        {% for plot in allPlots %}
        <div class="plot-container">
          <h2 class="plot-title">{{ plot.name }}</h2>
          <canvas
            class="plot"
            id="{{ plot.name }}"
            width="600"
            height="400"
          ></canvas>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const plots = JSON.parse('{{ allPlots | tojson | safe }}');
      console.log(plots);

      const plotElements = document.querySelectorAll('.plot');

      for (let i = 0; i < plots.length; i++) {
        var lineChart = new Chart(plotElements[i], {
          type: 'line',
          data: {
            labels: plots[i].labels,
            datasets: [
              {
                label: 'Measurements',
                data: plots[i].values,
                fill: false,
                // borderColor: 'rgb(75, 192, 192)',
                lineTension: 0.3,
              },
            ],
          },
          options: {
            responsive: false,
          },
        });
      }
    </script>
  </body>
</html>
