<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Data</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/showData.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="images-container">
        {% for name in image_names %}
        <div class="plot-container">
          <h2 class="plot-title">{{ name[:-4] }}</h2>
          <img
            src="{{ url_for('static', filename='img/' + name) }}"
            alt=""
            class="plot-img"
          />
        </div>
        {% endfor %}
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/showData.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/ipfs/dist/index.min.js"></script>
  </body>
</html>
