<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/transaction.css') }}"
    />
    <title>Ethereum Transaction</title>
  </head>

  <body>
    <div>
        <h3 class="transaction_title">This Website will handle the NFT Transaction</h3>
    </div>

    <form class="form" action="{{ url_for("transact")}}" method = "POST">
      <input type = "text" name = "tid" placeholder="tokenId"/>
      <input type = "text" name = "contract" placeholder="contract address"/>
      <input type = "text" name = "to_acc" placeholder="recipient address"/>
      <input type = "text" name = "p_key" placeholder="your private key"/>
      <button type="submit">Confirm</button>
    </form>

    <!-- show your own nft -->
    {% if not myNFTs or myNFTs == [] %}
      <p>You do not have any NFT</p>
    {% else %}
      {% for nft in myNFTs %}
      <img src="{{nft.img_ipfs}}" width="300" height="300">
      <p>{{nft.contractAddress}}</p>
      <p>{{nft.owner}}</p>
      <p>{{nft.tokenId}}</p>
      {% endfor %}
    {% endif %}
    
  </body>
</html>