<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/activity.css') }}"
        />
    </head>
<body>

    <div class="page-title">
        <h3 class="title">Transaction Details</h3>
    </div>

    <div class="details-overview">
        <h3>Transaction Hash: {{details.txn_hash}}</h3>
        <h3>Block: {{details.blkNum}}</h3> 
    </div>

    <div class="event-log">
        <h3>Transaction Receipt Event Logs:</h3>
        <h3>{{details.eventLog[0]}}</h3>

        <div class="from_to">
            <h3>From: {{details.e_from}}</h3>
            <h3>To: {{details.e_to}}</h3>
        </div>
    </div>

    <div class="transaction-info">
        <h3>From: {{details._from}}</h3>
        <h3>Interacted with (To): Contract {{details._to}}</h3>
        <h3>Gas Price: {{details.gasPrice}}</h3>
    </div>
   
</body>
</html>