<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"rel="stylesheet"/>
    <title>Ethereum Transaction</title>
  </head>

  <body>
    <div>
        <h3>This Website will handle the NFT Transaction</h3>
    </div>

    <form action="{{ url_for("transact")}}" method = "POST">
      <p>NFT token <input type = "text" name = "nft" /></p>
      <p>Contract address <input type = "text" name = "contract" /></p>
      <p>Recipient Address <input type = "text" name = "recipient" /></p>
      <p>Your private key <input type = "text" name = "key" /></p>
      <button type="submit">Transfer</button>
    </form>

    <!-- show your own nft -->
    {% if not myNFTs or myNFTs == [] %}
      <p>You do not have any NFT</p>
    {% else %}
      {% for nft in myNFTs %}
      <img src="{{nft.img_ipfs}}" width="300" height="300">
      {% endfor %}
    {% endif %}
    
  </body>
</html>