* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Rubik', sans-serif;
    color: #333;
    background: #212534;
  }

  .page-title {
    color: #f2f2f2;
    padding-left: 3%;
    padding-bottom: 3%;
  }
  
  .page-title .title {
    font-size: 40px;
    padding-bottom: -5%;
    margin-top: 36px;
    margin-bottom: 10px;
  }

  .table-container {
    margin: auto;
    width: 80%;
  }
  
  .table-header {
    border-radius: 12px 12px 0 0;
    display: flex;
    width: 100%;
    background: #111;
    padding: 36px 0;
    font-weight: bold;
  }
  
  .table-row {
    display: flex;
    background-color: #eeeeee;
    width: 100%;
    padding: 32px 0;
    font-weight: bolder;
  }
  
  .table-row:last-child {
    border-radius: 0 0 12px 12px;
  }
  
  .table-row:nth-of-type(odd) {
    background: #dcdada;
  }
  
  /* .table-data, */
  .header__item {
    flex: 1 1 20%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .table-data {
    text-align: center;
    position: relative;
    display: inline-block;
    flex: 1 1 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
  
  .table-data-hover {
    display: none;
    position: absolute;
    top: -70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    color: #fff;
    border-radius: 4px;
  }
  
  .table-data:hover .table-data-hover {
    display: block;
  }
  
  .header__item {
    /* text-transform: uppercase; */
  }
  
  .filter__link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    color: #eeeeee;
  }
  
  .filter__link::after {
    content: '';
    position: absolute;
    right: -18px;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .filter__link.desc::after {
    content: '(desc)';
  }
  
  .filter__link.asc::after {
    content: '(asc)';
  }
  