body {
    font-family: "Rubik", sans-serif;
    color: #333;
    background: #212534;
}

.browse_title {
    text-align: center;
    font-size: 35px;
    color: #f2f2f2;
}

.items {
    padding-left: 5%;
    text-align: center;
    display:block;
    width:100%;
    margin: auto;
}
.items img {
    width: 200px;
    height: 200px;
    
}

.nft_container {
    position: relative;
    text-align: center;
    padding: 10px;
    float: left;
    display: block;
}
  
  /* Bottom left text */
.nft_name {
    color: #f2f2f2;
    position: absolute;
    bottom: -40px;
    left: 16px;
    font-size: 15px;
}

.items h5 {
    color: #f2f2f2;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
  
:root {
    --card-height: 200px;
    --card-width: 200px;
}
    
.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    margin: auto;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  
.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
}
  
.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}
  
@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
} 