* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #333;
  background-color: #dee2e6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 64px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.image {
  max-width: 300px;
  border-radius: 12px;
  margin-bottom: 36px;
}

.input-file-container {
  margin-bottom: 24px;
  font-size: 18px;
}

.input-text,
.input-text2 {
  font-family: 'Rubik';
  padding: 10px;
  margin-bottom: 24px;
  resize: none;
}

.btn,
.btn:link,
.btn:visited {
  background-color: #343a40;
  color: #fff;
  font-size: 18px;
  padding: 18px 16px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 46px;
}

.btn:hover,
.btn:active {
  background-color: #212529;
}

.contract-text {
  color: #1c7ed6;
}

.hidden {
  display: none;
}
