body {
    font-family: "Rubik", sans-serif;
    color: #f2f2f2;
    background: #212534;
}

.transaction_title {
    text-align: center;
    font-size: 35px;
    color: #f2f2f2;
}

.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    height: 40px;
    font-size: 25px;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

form button {
    font-weight: 600;
    height: 30px;
    width: 50%;
    font-size: 20px;
    cursor: pointer;
}