* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Rubik', sans-serif;
    /* color: #333; */
    background: #212534;
  }

  .page-title {
    color: #f2f2f2;
    padding-left: 3%;
    padding-bottom: 3%;
  }
  
  .page-title .title {
    font-size: 35px;
    padding-bottom: -5%;
    margin-top: 36px;
    margin-bottom: 10px;
  }

  .table-container {
    margin: auto;
    width: 90%;
  }
  
  .table-header {
    border-radius: 12px 12px 0 0;
    display: flex;
    width: 100%;
    background: #111;
    padding: 36px 0;
    font-weight: bold;
  }
  
  .table-row {
    display: flex;
    background-color: #eeeeee;
    width: 100%;
    padding: 32px 0;
    font-weight: bolder;
  }
  
  .table-row:last-child {
    border-radius: 0 0 12px 12px;
  }
  
  .table-row:nth-of-type(odd) {
    background: #dcdada;
  }
  
  /* .table-data, */
  .header__item {
    flex: 1 1 20%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .table-data {
    color: #212534;
    text-align: center;
    position: relative;
    display: inline-block;
    flex: 1 1 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
  }
  
  .table-data-hover {
    display: none;
    position: absolute;
    top: -70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    color: #fff;
    border-radius: 4px;
  }
  
  .table-data:hover .table-data-hover {
    display: block;
  }

  form {
    z-index: 1;
  }
  
  .header__item {
    /* text-transform: uppercase; */
  }
  
  .filter__link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    color: #eeeeee;
  }
  
  .filter__link::after {
    content: '';
    position: absolute;
    right: -18px;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .filter__link.desc::after {
    content: '(desc)';
  }
  
  .filter__link.asc::after {
    content: '(asc)';
  }
  

  .details-overview, .transaction-info {
    color: #f2f2f2;
    padding-left: 3%;
    padding-bottom: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .to-details-link {
    color: #575757;
    text-decoration: none;
  }

  .to-details-link:hover{
    text-decoration: underline;
  }

  .event-log{
    color: #f2f2f2;
    padding-left: 3%;
    padding-bottom: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .event-log .from_to {
    margin-top: 10px;
    padding-left: 5%;
  }


  .machine-session, .patient-session, .prescrption-session, .data-session{
    padding-left: 3%;
    padding-bottom: 5%;
  }

  .machine-title, .patient-title, .prescription-title, .data-title{
      color: #f2f2f2;
      font-size: 20px;
      margin-bottom: 1%;
  }