* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #333;
  background-color: #dee2e6;
  min-height: 100vh;
}

.page-title {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  align-items: center;
  font-size: 25px;
}

.machine-session,
.patient-session,
.prescrption-session,
.data-session {
  padding: 3%;
}

.machine-title,
.patient-title,
.prescription-title,
.data-title {
  font-size: 20px;
  margin-bottom: 1%;
}

.item {
  text-align: center;
  display: flex;
  gap: 36px;
  width: 100%;
  margin: auto;
}

.nft_container {
  position: relative;
  text-align: center;
  padding: 10px;
  float: left;
  display: block;
}

.nft_name {
  color: #333;
  position: absolute;
  font-size: 15px;
}

.detail-img {
}
h3 {
  margin-bottom: 9px;
}
.btn {
  background-color: #339af0;
}
.btn:hover,
.btn:active {
  background-color: #1c7ed6;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
