* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #333;
  background-color: #dee2e6;
  min-height: 100vh;
}

.page-title {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  align-items: center;
  font-size: 25px;
}

.machine-session,
.patient-session,
.prescrption-session,
.data-session {
  padding: 3%;
}

.profile {
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 2%;
}

.avatar {
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-contract-address{
    font-size: 18px;
}

.topnav {
    font-size: 25px;
    padding-left: 3%;
    overflow: hidden;
    display: flex;
    gap: 30px;
    padding-bottom: 2%;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover,  
  .topnav a:focus  {
    text-decoration: underline;
    color: #444;
  }
  

  hr {
    margin-bottom: 3%;
  }

.machine-session, .patient-session, .prescrption-session, .data-session{
    padding-left: 3%;
    padding-bottom: 5%;
  }

.machine-title,
.patient-title,
.prescription-title,
.data-title {
  font-size: 20px;
  margin-bottom: 1%;
}

.item {
  text-align: center;
  display: flex;
  gap: 36px;
  width: 100%;
  margin: auto;
}

.nft_container {
  position: relative;
  text-align: center;
  padding: 10px;
  float: left;
  display: block;
}

.nft_name {
  color: #333;
  position: absolute;
  font-size: 15px;
}

img {
    border-radius: 15px;
}



h3 {
  margin-bottom: 9px;
}
.btn {
  background-color: #339af0;
}
.btn:hover,
.btn:active {
  background-color: #1c7ed6;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.detail-img {
}

.login-title {
    padding-top: 10%;
    padding-bottom: 3%;
    font-size: 70px;
    text-align: center;
}

.login-accounts {
    text-align: center;
    display: flex;
    gap: 36px;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.account {
    position: relative;
    text-align: center;
    padding: 10px;
    display: block;
}
