* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #333;
  background-color: #dee2e6;
}

.app-title{
  margin-top: 3%;
  margin-bottom: -1%;
  text-align: center;
  height: 2%;
  font-family: 'Press Start 2P', cursive;
  font-size: x-small;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 64px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.image {
  max-width: 300px;
  border-radius: 12px;
  margin-bottom: 36px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

.transfer-div,
.register-div,
.issue-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

.input-file-container {
  margin-bottom: 24px;
  font-size: 18px;
}

.input-text,
.input-text2 {
  font-family: 'Rubik';
  padding: 10px;
  width: 400px;
  resize: none;
}

.account-container {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 18px;
  justify-content: center;
}

.btn,
.btn:link,
.btn:visited {
  background-color: #343a40;
  color: #fff;
  font-size: 18px;
  padding: 18px 16px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 46px;
}

.btn:hover,
.btn:active {
  background-color: #212529;
}

.connect-button {
  margin-bottom: 0;
  font-size: 14px;
  background-color: #343a40cf;
  padding: 16px 12px;
}

.contract-text {
  color: #1c7ed6;
}

.hidden {
  display: none;
}

footer {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-small;
}