* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
    color: #3e444a
}

.page-title, .details {
    color: #3e444a;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}
  
.page-title .title {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.details .container{
    border: 1px solid #e7eaf3;
    border-radius: 0.5rem;
    width: 100%;
    min-height: 700px;
    background-color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    color: #1e2022;
}

.details-overview,
.transaction-action,
.contract-info,
.erc-721,
.gas-price{
    padding-top: 2%;
}

.details-overview *,
.transaction-action *,
.contract-info *,
.erc-721 *,
.gas-price *{
    margin-bottom: 2%;
}

.display-row {
    display: flex;
    margin: 0;
    align-items: stretch;
}

.display-row #info{
    position:absolute;
    left: 35%
}

.details-overview, 
.transaction-action,
.contract-info,
.erc-721,
.gas-price {
    margin-left: 3%;
    margin-right: 3%;
}

.to-details-link {
    color: #7cc2ea;
    text-decoration: none;
}
  
.to-details-link:hover{
    color: #5d92b0;
    text-decoration: underline;
}
